<ion-view title="Find a Venue">
	<ion-content padding="true" class="has-header">
	    <form name="searchVenueForm">
	        <label class="item item-input" name="search-venue">
	            <i class="icon ion-search placeholder-icon"></i>
	            <input type="search" placeholder="Find a venue..." ng-model="searchText">
	        </label>
	    </form>

	    <div class="list card" ng-repeat="venue in venues | filter:searchText">
	        <div class="item item-icon-right" type="item-text-wrap">
	            <a href="#/tab/venue/{{venue.$id}}"><h2>{{venue.name}}</h2></a>
				<tel>{{venue.phone}}</tel>
				<address>{{venue.address}}</address>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</div>
	    </div>
	</ion-content>
</ion-view>
