<ion-modal-view>
    
    <ion-header-bar class="bar-positive">
      <h1 class="title">Add Skills</h1>
      <button class="button button-clear button-light" ng-click="closeModal()">Close</button>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">
		<ng-include src="'partials/skills-form.html'"></ng-include>

        <div class="item item-body">
        	<ul>
        		<li ng-repeat="skill in skills"><small>{{skill}}</small></li>
        	</ul>
        </div>
    </ion-content>
</ion-modal-view>