<form ng-submit="saveMuso(muso)">
    <label class="item item-input item-floating-label" name="first-name">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name" ng-model="muso.firstName">
    </label>
    <label class="item item-input item-floating-label" name="last-name">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name" ng-model="muso.lastName">
    </label>
    <label class="item item-input item-floating-label" name="phone">
        <span class="input-label">Phone Number</span>
        <input type="tel" placeholder="Phone Number" ng-model="muso.phone">
    </label>
    <label class="item item-input item-floating-label" name="email">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="muso.email">
    </label>
    <label class="item item-input item-floating-label" name="location">
        <span class="input-label">Location</span>
        <input type="text" placeholder="Location" ng-model="muso.location">
    </label>

    <ul class="list">
        <span class="input-label">&nbsp; &nbsp;Skills</span>
        <li class="item item-checkbox" ng-repeat="skill in muso.instruments">
            <label class="checkbox">
                <input type="checkbox" checklist-model="muso.instruments" checklist-value="skill">
            </label>
            {{skill}}
        </li>
    </ul>

    <ion-item class="range range-energized">Rating
        <input type="range" value="2" min="0" max="5" name="rating" ng-model="muso.rating">
    </ion-item>
    <label class="item item-input item-floating-label" name="notes">
        <span class="input-label">Notes</span>
        <input type="text" placeholder="Notes" ng-model="muso.notes">
    </label>
    <button type="submit" class="button button-positive button-block">Save Muso</button>
</form>