<form ng-submit="saveVenue(venue)">
    <label class="item item-input item-floating-label" name="venue-name">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Name" ng-model="venue.name">
    </label>
    <label class="item item-input item-floating-label" name="venue-address">
        <span class="input-label">Address</span>
        <input type="text" placeholder="Address" ng-model="venue.address">
    </label>
    <label class="item item-input item-floating-label" name="venue-phone">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="Phone" ng-model="venue.phone">
    </label>
    <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="venue.email">
    </label>
    <label class="item item-input item-floating-label" name="venue-website">
        <span class="input-label">Website</span>
        <input type="text" placeholder="Website" ng-model="venue.website">
    </label>
    <button type="submit" class="button button-positive button-block">Save Venue</button>
</form>