<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form name="loginForm" novalidate ng-submit="login(username, password)">
            <ion-list>
                <label class="item item-input" name="email">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="themuso@example.com" ng-model="username">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="***" ng-model="password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-positive button-block" type="submit" ng-disabled="loginForm.$invalid">Login</button>
            <!-- <a href="#/search" class="button button-positive button-block">Log in</a> -->
            <a href="#/signup" class="button button-positive button-clear button-block">Or create an account</a>
        </form>
    </ion-content>
</ion-view>