<ion-view title="{{musoDetails.firstName}} {{musoDetails.lastName}}">
  <ion-content has-header="true" padding="true">
    <div class="list card">
        <div class="item item-icon-right" type="item-text-wrap">
            <h2>{{musoDetails.firstName}} {{musoDetails.lastName}}</h2>
			<tel>{{musoDetails.phone}}</tel>
			<p>{{musoDetails.email}}</p>
			<p>{{musoDetails.location}}</p>
			<p>{{musoDetails.rating}}</p>
			<p>{{musoDetails.notes}}</p>
		</div>
        <div class="item item-body">
        	<ul>
        		<li ng-repeat="skill in musoDetails.instruments"><small>{{skill}}</small></li>
        	</ul>
        </div>
    </div>
  </ion-content>
</ion-view>

