<ion-view title="{{muso.firstName}} {{muso.lastName}}">
    <ion-nav-buttons side="right">
      <button class="button button-clear button-light" ng-click="showActionSheet()">Edit</button>
    </ion-nav-buttons>
      <ion-content has-header="true" padding="true">
        <div class="list card">
            <div class="item item-icon-right" type="item-text-wrap">
                <h2>{{muso.firstName}} {{muso.lastName}}</h2>
    			<tel>{{muso.phone}}</tel>
    			<p>{{muso.email}}</p>
    			<p>{{muso.location}}</p>
    			<p>{{muso.rating}}</p>
    			<p>{{muso.notes}}</p>
    		</div>
            <div class="item item-body">
            	<ul>
            		<li ng-repeat="skill in muso.instruments"><small>{{skill}}</small></li>
            	</ul>
            </div>
        </div>
      </ion-content>
</ion-view>

