<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Muso Tab -->
  <ion-tab title="Musos" icon="icon ion-home" ui-sref="tab.musos">
    <ion-nav-view name="tab-musos"></ion-nav-view>
  </ion-tab>


  <!-- Venues Tab -->
  <ion-tab title="Venues" icon="icon ion-heart" ui-sref="tab.venues">
    <ion-nav-view name="tab-venues"></ion-nav-view>
  </ion-tab>


  <!-- Manage Tab -->
  <ion-tab title="Add" icon="icon ion-gear-b" ui-sref="tab.manage">
    <ion-nav-view name="tab-manage"></ion-nav-view>
  </ion-tab>
  

</ion-tabs>